@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:"Nunito Sans",sans-serif;
}

.hr{
  background: linear-gradient(269.97deg, #6e6956 23.76%, #b2ab8f 87.18%);
}

.connect-with-us-btn{
background-color:#b2ab8f ;
}

.footer-bg{
  background:#b2ab8f;
}

.left-vector {
  background: linear-gradient(269.97deg, #b2ab8f 27%, #6e6956 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.right-vector {
  background-color: #b2ab8f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  clip-path: polygon(28% 0%, 100% 0%, 100% 100%, 0% 99%);
}

.HomeContainer3bg {
  background: linear-gradient(107deg, #6e6956 30.67%, #b2ab8f 98.58%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(115, 62, 29, 1);
  box-sizing: border-box;
  pointer-events: none;
}

.specs{
  height: 3rem;
}

.updateddiv{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color:#b2ab8f;
}